<template>
    <form @submit.prevent='save()'>
        <input
          type="text"
          v-model="inputText"
          placeholder='Enter to-do'
        >
        <button class="submit-btn" type="submit">Add</button>
    </form>
</template>

<script>
export default {
  name: 'InputForm',
  data () {
    return {
      inputText: ''
    }
  },
  methods: {
    save () {
      this.$emit('onSave', this.inputText)
    }
  }
}
</script>

<style>
  input {
    width: 60vw;
    padding: var(--padding-s);
  }
  .submit-btn {
    margin-left: 15px;
    padding: var(--padding-s);
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
  }
</style>
