<template>
  <ul>
    <li v-for="item in items" :key="item.time">
      <button class="btn" @click="itemDone(item.time)">Done</button>
      <p class="text-body">{{item.text}}</p>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'TodoList',
  props: {
    items: {
      type: Array
    }
  },
  methods: {
    itemDone (id) {
      this.$emit('onItemDone', id)
    }
  }
}
</script>

<style>
  ul {
    list-style-type: none;
  }
  li {
    display: flex;
    width: 80vw;
    justify-content: left;
    align-items: center;
    padding: var(--padding-s);
    margin-bottom: var(--padding-m);
    background-color: #ffffff;
  }
  .btn {
    height: fit-content;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
  }
  .btn:hover {
    height: fit-content;
    padding: 8px;
    color: #ffffff;
    background-color: #000000;
  }
  .text-body {
    padding-left: var(--padding-s);
    font-size: 1rem;
  }
</style>
