<template>
  <div id="app">
    <h1>- To-Do List -</h1>
    <div>
      <InputForm @onSave="save"></InputForm>
      <TodoList TodoList :items="sortedItemFalse" @onItemDone="done"></TodoList>
    </div>
  </div>
</template>

<script>
import TodoList from '@/components/TodoList'
import InputForm from '@/components/InputForm'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'app',
  components: {
    TodoList,
    InputForm
  },
  mounted () {
    this.initItem(this.items)
  },
  updated () {
    window.localStorage.setItem('todoList', JSON.stringify(this.items)) // Save data when component update
  },
  computed: {
    ...mapState(['items']),
    sortedItemFalse () {
      return this.items.slice(0).sort((a, b) => {
        return b.time - a.time
      }).filter(ele => {
        return ele.completed === false
      })
    }
  },
  methods: {
    ...mapMutations(['addItem', 'initItem']),
    done (id) {
      this.items = this.items.map(ele => {
        if (id === ele.time) {
          ele.completed = true
        }
        return ele
      })
      this.initItem(this.items)
    },
    save (text) {
      this.addItem({
        text: text,
        time: Date.now(),
        completed: false
      })
    }
  }
}
</script>

<style>
:root {
  --padding-m: 20px;
  --padding-s: 10px
}

body {
  padding: var(--padding-m);
  background-color: rgb(241,226,211);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
